body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}
.todo-header{
  display: flex;
  justify-content: space-between;
}
.todo-header > div:first-child { line-height: 30px }
.btn-undo-redo{
  margin-left: 15px;
}

input[type="text"]:focus{
  box-shadow: none;
  outline: 0 none;
  border-color: #ced4da;
}

.btn-remove{
  font-size: 11px;
  color: red;
}